[Unit]
Description=Service that launches the ledStrip component.
After=network.target

[Service]
WorkingDirectory=/home/robocomp/robocomp/components/EBO_V2/components/ledStrip
ExecStart=/home/robocomp/software/pip_venv/bin/python src/ledStrip.py etc/config
Restart=always
RestartSec=5
User=robolab

[Install]
WantedBy=multi-user.target

